<?php
return array(
	'navigation' => array(
    		'default' => array(
    				array(
    						'label' => 'Login',
    						'route' => 'auth-login/process',
    						'controller' => 'Login',
    						'action'     => 'login',
    						'resource'	  => 'AuthApplication\Controller\Login',
    						'privilege'  => 'login',
    				),
    				array(
    						'label' => 'Logout',
    						'route' => 'auth-login/process',
    						'controller' => 'Login',
    						'action'     => 'logout',
    						'resource'	  => 'AuthApplication\Controller\Login',
    						'privilege'  => 'logout',
    				),
    				array(
    						'label' => 'User Profile',
    						'route' => 'auth-application',
    						'controller' => 'Index',
    						'action'     => 'index',
    						'resource'	  => 'AuthApplication\Controller\Index',
    						'privilege'  => 'index',
    				),	
    		)
    )
)



?>